datasets
dataset_ordered.zip
generation/mT5-baseline/wandb
generation/dravidian_unif/wandb
generation/coverage-prompt/wandb
generation/mT5-baseline/model_outputs
generation/dravidian_unif/model_outputs
generation/coverage-prompt/model_outputs
clustering/mT5-baseline/wandb
clustering/mT5-baseline/model_outputs
generation/mT5-baseline/__pycache__
clustering/mT5-baseline/__pycache__
rl_msme/model/__pycache__
rl_msme/wandb
baseline_rl/model/__pycache__
baseline_rl/wandb
mt5_scratch_rl/model/__pycache__
mt5_scratch_rl/wandb
hallucination/src/*.log
hallucination/src/*.ipynb
hallucination/src/*.csv
hallucination/src/*.sh
hallucination/src/*.zip
hallucination/src/__pycache__/
hallucination/src/distance-euclidean/
hallucination/src/distance-cosine/
hallucination/src/merged/
hallucination/src/new_pruned/
hallucination/src/pruned/
hallucination/src/single_sent_pruned/
hallucination/src/stopwords/
hallucination/src/vectors/
hallucination/src/eval_module/*.jsonl
generation/prompt_uni/wandb/
wandb/
